.headerFixed {
  position: fixed;
  top: 0;
  padding: 0px;
  height: 48px;
  line-height: 48px;
  width: 100%;
  z-index: 100;
  right: 0px;
}
.header {
  background-color: #001529;
  position: relative;
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 16px;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}
.header > * {
  height: 100%;
}
.headerLogo {
  position: relative;
  overflow: hidden;
  line-height: 48px;
  /* width: 183px; */
}
.headerLogo a {
  display: flex;
  align-items: center;
  height: 48px;
}
.headerLogo a img {
  height: 28px;
}
.headerLogo h1 {
  color: #fff;
  height: 32px;
  margin: 0 0 0 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

.headerRight {
  display: flex;
  float: right;
  height: 48px;
  margin-left: auto;
  overflow: hidden;
}
.headerRightAction {
  padding: 0 12px;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s;
}
.headerRightAction .anticon {
  color: #fff;
}
