.main {
  width: 368px;
  margin: 0 auto;

  .icon {
    margin-left: 16px;
    color: rgba(0, 0, 0, 0.2);
    font-size: 24px;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: @primary-color;
    }
  }
  .userIcon {
    color: #1890ff;
    font-size: @font-size-base;
  }
  .forgetPassword {
    float: right;
  }
  .other {
    margin-top: 24px;
    line-height: 22px;
    text-align: left;

    .register {
      float: right;
    }
  }

  .submit {
    width: 100%;
    margin-top: 0px;
  }

  .prefixIcon {
    color: @disabled-color;
    font-size: @font-size-base;
  }
}
