.modal {
  width: 640px;
}
.modal .ant-modal-body .ant-tabs {
  margin-top: -24px;
}
/* 上边距100，头部高度56，footer高度 53，下边距20 */
.modal .ant-modal-body {
  max-height: calc(100vh - 230px);
  overflow-y: auto;
}
